# Python cache
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS-specific
.DS_Store

# Data files
*.npy
*.csv

# Model checkpoints
*.pt
*.ckpt

# Ignore photos and scripts folders
photos/
scripts/

# Ignore Gedit auto-save files
.giosave*
